body {
	color: #ffffff;
	background-color: #323232;
	background-image: url("https://ltgray.neocities.org/starstwinkle2.gif");
	font-family: "Courier New", "Courier", Monospace;
}


a {
	color: #dd0000;
}


.box {
	border: solid 4px #626262;
	background-color: #333333;
	border-radius: 8px;
	margin: 50px;
	margin-left: 120px;
	margin-right: 120px;
	padding: 30px;
	padding-top: 25px;
	padding-left: 80px;
	padding-right: 80px;
}